@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Ticket/GetTicket/A702CB22-A8F4-4273-8247-0090337197A1" >View Ticket (Tower - Monterey & Carmel)</a>
<br/>
<a href="/Ticket/ListAllTickets" >List all tickets</a>
