@{
    ViewBag.Title = "AllTickets";
}

<h2>AllTickets</h2>

<p>
    List of Tickets
</p>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
    </tr>
    @foreach (var ticket in Model)
    {
        <tr>
            <td>@ticket.Id</td>
            <td>@ticket.Name</td>
            <td>@ticket.TicketType</td>
        </tr>
    }

</table>
